@charset 'utf-8';

* {
  letter-spacing: .1em;
  line-height: 1.3;
}

a {
  -webkit-transition : color .1s ease-in-out;
  -moz-transition    : color .1s ease-in-out;
  -o-transition      : color .1s ease-in-out;
  transition         : color .1s ease-in-out;
}

a:hover {
  color: #a8a838;
}

h1,
h2 {
  text-shadow: #777 -3px 3px 5px;
}

/**
.slide {
  -webkit-box-shadow : -3px 3px 5px #555;
  -moz-box-shadow    : -3px 3px 5px #555;
  -o-box-shadow      : -3px 3px 5px #555;
  box-shadow         : -3px 3px 5px #555;
}
/**/

/**/
.slide:after {
  background-color: rgb( 42,  50,  78);
  background-image: -webkit-gradient(linear,
	left bottom, left top,
	color-stop(0, rgb(  0,   0,   0)),
	color-stop(1, rgb( 42,  50,  78))
	);
  background-image: -moz-linear-gradient(
	center bottom,
	rgb(  0,   0,   0)   0%,
	rgb( 42,  50,  78) 100%
	);
  margin: .2em -.1em;
  display: block;
  position: relative;
  z-index: -1;
  height: 75%;
  content: '';
  -webkit-border-radius : 0 2em;
  -moz-border-radius    : 0 2em;
  border-radius         : 0 2em;
  opacity: .5;
  -ms-filter: 'alpha(opacity=50)';
  filter: alpha(opacity=50);
  zoom: 1;
}

.slide,
.footer {
  border: 0;
}
/**/

.slide {
  background-image: -webkit-gradient(linear,
	left bottom, left top,
	color-stop(0, rgb( 67,  78, 114)),
	color-stop(1, rgb( 36,  47,  83))
	);
  background-image: -moz-linear-gradient(
	center bottom,
	rgb( 99, 110, 146)   0%,
	rgb( 36,  47,  83) 100%
	);
}

.footer {
  background-image: -webkit-gradient(linear,
	left bottom, left top,
	color-stop(0, rgb( 42,  50,  78)),
	color-stop(1, rgb( 27,  35,  63))
	);
  background-image: -moz-linear-gradient(
	center bottom,
	rgb( 42,  50,  78)   0%,
	rgb( 27,  35,  63) 100%
	);
}
